# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python coverage
.coverage
.coverage.*
htmlcov/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint.log

# Environments
.env
*.env

#data
.arquivos/
*.db